     font-size: 14px;
    font-weight: 400;
    color: var(--payo-brand-color-cold-gray-600, #8c98ab);
    margin: 4px 0px 5px 0px;
}


font-size: 16px;
    font-weight: 400;
    line-height: 1.38rem;
    color: var(--payo-brand-color-cold-gray-700, #636b78);
    word-break: break-word;
 
}