@import url('https://fonts.cdnfonts.com/css/rez');



*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color: #505AE9;
@mixin navItems($color: #6F73A0){
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: $color;
}

@mixin text ($color: #505AE9, $font-size: 12px, $font-weight:600,
$line-height: 180%){
    font-family: 'Mulish';
font-style: normal;
font-weight: $font-weight;
font-size: $font-size;
line-height: $line-height;

color: $color;
}

@mixin divPosition($position: absolute, $width: 1232px, $height: 600px, $left: 154px, $top:100px)
{
    position: $position;
    width: $width;
    height: $height;
    left: $left;
    top: $top;

}

button{
    cursor: pointer;
}

input{
    outline: none;
    border: none;
    width: 232px;
}

input::placeholder{


height: 24.75px;
align-self: center;
justify-self: center;

    @include text(#9FA1C0, 20px, 500, 110%)
}

nav{
position: absolute;
width: 1512px;
height: 100px;
left: 0px;
top: 0px;
border: 2px solid black;
}

.menu{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 45px;
position: absolute;
width: 599px;
height: 30px;
left: 759px;
top: 35px;

.home{
    @include navItems(#505AE9)
}
.how, .services,  .about{
    @include navItems;
}

}
.logo{
position: absolute;
width: 87px;
height: 48px;
left: 148px;
top: 26px;
font-family: 'REZ';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 100%;
display: flex;
align-items: center;
color: $primary-color;
}

/*Create a link card */

.welcome-card{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
position: absolute;
width: 594px;
height: 428px;
left: 154px;
top: 263px;
}

.frame91{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 18px;
gap: 10px;
width: 248px;
height: 30px;
background: #EEEFFD;
border-radius: 18.9685px;
text-align: center
}

.great{
@include text;
letter-spacing: 0.01em;
width: 212px;
height: 22px;
}
.frame3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;
width: 594px;
height: 396px;

.frame2{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;
width: 594px;
height: 276px; 

h1{
    width: 594px;
height: 158px;
@include text(#101561, 72px, 800, 110%)
}

p{
width: 560.64px;
height: 90px;
@include text(#6F73A0, 20px, 400, 150%)
}
}

.rectangle31{
 position: absolute;
width: 565.76px;
height: 72px;
left: 0px;
 top: 324px;
display: flex;
justify-content: space-between;
align-content: center;
flex-direction: row;
background: #FCFCFC;
box-shadow: 0px 5.12px 38.4px rgba(0, 0, 0, 0.05);
border-radius: 20px;
}

.rect-input{
padding: 18.52px;
}

button{
    margin: 6.75px 9.52px 0px;
}

.rectangle2{
width: 190.72px;
height: 58.5px;
background: #505AE9;
border: none;
border-radius: 16px;
align-self: center;
justify-self: center;

@include text(#FFFFFF, 20px, 500, 150%);

}
}

.group3067{
    
position: absolute;
width: 757.5px;
height: 593.98px;
left: 894px;
top: -147px;
}

.rectangle6{
position: absolute;
width: 100vw;
height: 895px;
left: 0px;
top: 128px;

background: #F7FAFD;
}

.frame5{
position: absolute;
width: 100vw;
height: 860px;
left: 0px;
top: 950px;
background: #101561;


.frame9{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 64px;

@include divPosition(absolute,1232px,610px ,154px ,109px );


.frame7{
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 169px;

width: 1085px;
height: 138px;

.frame6{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 500px;
height: 138px;

.frame1{
    width: 76px;
height: 22px;
@include text(#FB8B24, 12px, 600, 180%)
}
p{
width: 500px;
height: 106px;
 @include text(#FFFFFF,48px, 700, 110%);
 font-feature-settings: 'pnum' on, 'lnum' on;

}
}

.lorem-txt{
    p{
width: 416px;
height: 72px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
opacity: 0.7;
    }
}
}

.frame8{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 1232px;
height: 408px;

.how-it-works1{
background-color: #3F4481;
}
.how-it-works2{
    
}
.how-it-works3{
    
}
  
}
}
}
.header{
 

font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 96px;
/* identical to box height, or 133% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Background/White */

color: #FFFFFF;


}
.mid-header{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.smalltext{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;

opacity: 0.7;
}

.frame92{
    @include divPosition(absolute,1512px ,972px ,0px ,1685px );
    background:#FBFBFF;

    .frame4{
       display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
 @include divPosition(absolute,572px ,214px ,154px ,128px );
    }

    p.channel{
        @include text(#505AE9, 12px, 600, 180%);
   letter-spacing: 0.01em;

    }

    .lorem{
        /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 572px;
height: 182px;

p.ipsum{
    width: 572px;
height: 106px;

font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 110%;
/* or 53px */


color: #101561;
}

p.lor{
    
width: 572px;
height: 48px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #6F73A0;
}
    }

    .cards{
        position: absolute;
width: 528px;
height: 442.84px;
left: 154px;
top: 382px;
 .container-1{
    position: absolute;
width: 254.67px;
height: 211.69px;
left: 154px;
top: 382px;

/* Background/White */

background: #FFFFFF;
border-radius: 8.1106px;
 }

  .container-2{

position: absolute;
width: 253.86px;
height: 211.69px;
left: 428.14px;
top: 382px;

/* Background/White */

background: #FFFFFF;
border-radius: 8.1106px;
 }

  .container-3{
position: absolute;
width: 254.67px;
height: 211.69px;
left: 154px;
top: 613.15px;

/* Background/White */

background: #FFFFFF;
border-radius: 8.1106px;
 }

  .container-4{
position: absolute;
width: 253.86px;
height: 211.69px;
left: 428.14px;
top: 613.15px;

/* Background/White */

background: #FFFFFF;
border-radius: 8.1106px;
 }
    }
}
p.title{
position: absolute;
width: 66px;
height: 28px;
left: 174.34px;
top: 699.61px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
/* identical to box height, or 137% */

font-feature-settings: 'pnum' on, 'lnum' on;

color: #3F4481;
}
p.content-body{

position: absolute;
width: 192px;
height: 51px;
left: 174.34px;
top: 740.3px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 11.3548px;
line-height: 150%;
/* or 17px */


color: #6F73A0;
}

