@import url("https://fonts.cdnfonts.com/css/rez");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  width: 232px;
}

input::placeholder {
  height: 24.75px;
  align-self: center;
  justify-self: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #9FA1C0;
}

nav {
  position: absolute;
  width: 1512px;
  height: 100px;
  left: 0px;
  top: 0px;
  border: 2px solid black;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 45px;
  position: absolute;
  width: 599px;
  height: 30px;
  left: 759px;
  top: 35px;
}
.menu .home {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #505AE9;
}
.menu .how, .menu .services, .menu .about {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6F73A0;
}

.logo {
  position: absolute;
  width: 87px;
  height: 48px;
  left: 148px;
  top: 26px;
  font-family: "REZ";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #505AE9;
}

/*Create a link card */
.welcome-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  position: absolute;
  width: 594px;
  height: 428px;
  left: 154px;
  top: 263px;
}

.frame91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 18px;
  gap: 10px;
  width: 248px;
  height: 30px;
  background: #EEEFFD;
  border-radius: 18.9685px;
  text-align: center;
}

.great {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 180%;
  color: #505AE9;
  letter-spacing: 0.01em;
  width: 212px;
  height: 22px;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 594px;
  height: 396px;
}
.frame3 .frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  width: 594px;
  height: 276px;
}
.frame3 .frame2 h1 {
  width: 594px;
  height: 158px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 110%;
  color: #101561;
}
.frame3 .frame2 p {
  width: 560.64px;
  height: 90px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6F73A0;
}
.frame3 .rectangle31 {
  position: absolute;
  width: 565.76px;
  height: 72px;
  left: 0px;
  top: 324px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  background: #FCFCFC;
  box-shadow: 0px 5.12px 38.4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.frame3 .rect-input {
  padding: 18.52px;
}
.frame3 button {
  margin: 6.75px 9.52px 0px;
}
.frame3 .rectangle2 {
  width: 190.72px;
  height: 58.5px;
  background: #505AE9;
  border: none;
  border-radius: 16px;
  align-self: center;
  justify-self: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.group3067 {
  position: absolute;
  width: 757.5px;
  height: 593.98px;
  left: 894px;
  top: -147px;
}

.rectangle6 {
  position: absolute;
  width: 100vw;
  height: 895px;
  left: 0px;
  top: 128px;
  background: #F7FAFD;
}

.frame5 {
  position: absolute;
  width: 100vw;
  height: 860px;
  left: 0px;
  top: 950px;
  background: #101561;
}
.frame5 .frame9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  width: 1232px;
  height: 610px;
  left: 154px;
  top: 109px;
}
.frame5 .frame9 .frame7 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 169px;
  width: 1085px;
  height: 138px;
}
.frame5 .frame9 .frame7 .frame6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 500px;
  height: 138px;
}
.frame5 .frame9 .frame7 .frame6 .frame1 {
  width: 76px;
  height: 22px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 180%;
  color: #FB8B24;
}
.frame5 .frame9 .frame7 .frame6 p {
  width: 500px;
  height: 106px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #FFFFFF;
  font-feature-settings: "pnum" on, "lnum" on;
}
.frame5 .frame9 .frame7 .lorem-txt p {
  width: 416px;
  height: 72px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}
.frame5 .frame9 .frame8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1232px;
  height: 408px;
}

/*# sourceMappingURL=paylink.css.map */
